<p>
  <a href="{{site.lc_site}}">Library Carpentry</a>
  is made by people working in library- and information-related roles to help you:
</p>
<p>
  This rendition of the workshop will be presented online over 4 weeks. If you attend all four weeks you'll be given a certficate of completion. This is a rescheduling of the previously cancelled in person workshop that was originally set for end of April 2020. Registration is capped at 15 participants per week.
</p>
<ul>
  <li>automate repetitive, boring, error-prone tasks</li>
  <li>create, maintain and analyze sustainable and reusable data</li>
  <li>work effectively with IT and systems colleagues</li>
  <li>better understand the use of software in research</li>
  <li>and much more...</li>
</ul>
<p align="center">
  <em>
    Library Carpentry introduces you to the fundamentals of computing
    and provides you with a platform for further self-directed learning.
    For more information on what we teach and why, please see our paper
    "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p>
